#send-to-menu {
  position: relative;
}
.sub-menu {
  display: none;
  position: absolute;
  left: 158px;
  top: 10px;
}
#send-to-menu:hover + .sub-menu {
  display: block;
}
.sub-menu:hover {
  display: block;
}
